.wcnis-home-cards {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  flex-direction: column;

  section {
    margin-bottom: 2.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2.5rem;
    position: relative;

    .wcnis-home-cards__overlay {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $color-background-highlight-dark;
      opacity: 0.68;
    }

    h2,
    p {
      color: $color-explicit-white;
      position: relative;
      text-align: center;
    }

    h2 {
      margin: 0 0 2rem 0;
    }

    .wcnis-home-cards__button {
      margin-top: auto;
      position: relative;
    }
  }

  @include breakpoint(large-extra) {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    section {
      margin-bottom: 0;
      width: calc((100% / 3) - 1rem);
      height: 480px;
      padding: 5rem 2.5rem 2.5rem 2.5rem;
    }
  }
}