.wcnis-home-intro {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    .wcnis-home-intro__text {
        flex: 1;
    }

    .wcnis-home-intro__action {
        width: 100%;
        background-color: $color-background-highlight;
        padding: 2rem;
        position: relative;

        &:after {
            bottom: -50px;
            content: "";
            position: absolute;
            height: 250px;
            width: 200px;
            background-repeat: no-repeat;
            right: -20%;
            background-image: url('https://svgshare.com/i/CVJ.svg');

        }

        @include breakpoint(extra-small) {
            &:after {

                height: 180px;

            }
        }

    }


    @include breakpoint(large) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .wcnis-home-intro__text {
            padding-right: 3rem;
        }

        .wcnis-home-intro__action {
            max-width: 400px;
        }
    }
}